@{
    ViewData["Title"] = "Home Page";
}

<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>What's Your City's Unique Food? Enter below!</p>
</div>-->
@*Adds Button that links to form*@
<!--<a asp-controller="FoodSuggestion" asp-action="AddFoodSuggestion">
    <input type="button" class="btn btn-primary" value="Add Food Suggestion" />
</a>-->

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>What's Your City's Unique Food? Enter below!</p>
</div>

@*Adds Button that links to form*@
<a asp-controller="FoodSuggestion" asp-action="AddFoodSuggestion">
    <input type="button" class="btn btn-primary" value="Add Food Suggestion" />
</a>
