@{
    ViewData["Title"] = "Home Page";
}

<header>
    <h1 class="site-heading text-center text-faded d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">WELCOME TO</span>
        <span class="site-heading-lower">CityFoods</span>
    </h1>
</header>

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="~/assets/img/Logo-hometest4.png" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">At City Foods, You Will Find Unique Foods That Are</span>
                    <span class="section-heading-lower">WORTH EXPLORING</span>
                </h2>
                <p class="mb-3">As you travel across the USA, don't just settle for the same old fast-restaurants that you can find at home. <br /> Instead, explore our site to find unique, "must-try" foods and find restaurant suggestions. <br/>Not traveling?  Feel free to add your city's unique "must-try" foods for others to explore!</p>
                <div class="intro-button mx-auto">
                    <a asp-controller="FoodSuggestion" asp-action="AddFoodSuggestion">
                        <input type="button" class="btn btn-primary" value="Add Food Suggestion" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">About City Foods</span>
                        <span class="section-heading-lower">An Exploration in Foods Across the Country</span>
                    </h2>
                    <p class="mb-0">As my family traveled across the USA, we did the usual...stop at every fast-food restaurant along the highway. But I am not much for fast food, and wanted to experience unique foods that I couldn't find at home. I started to do research before we went on trips to find foods popular to that area, and restaurants off the beaten path...<br />Where do the locals eat?<br /><br />My explorations have introduced me to the Stuffed Quahog in Cape Cod, MA; the Cheese Frenchee in Omaha, NE; and The Benedictine Sandwich in Louisville, KY, to name a few. I hope you enjoy discovering new foods on your travels.  Please add these foods to our site, or if you are not traveling but your city is known for some amazing foods not found in any other city,  please add it to the site for others to discover. <br />Happy Travels and Happy Eating!</p>
                </div>
            </div>
        </div>
    </div>
</section>

